#main {
  display: flex;
}

#board {
  width: 54vw;
  height: 95vh;
}

#calender {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50rem;
  box-shadow: 0 0.3125rem 3.125rem rgb(0 0 0 / 10%);
  box-shadow: 0 0.3125rem 3.125rem rgb(0 0 0 / 10%);
  border-radius: 1.875rem;
  padding: 2.125rem 1.375rem;
  margin-right: 1rem;
}

.today-box {
  position: absolute;
  right: 3rem;
  top: 2%;
}

.year {
  width: 100%;
  color: rgb(143, 137, 137);
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}

.month {
  width: 100%;
  color: rgb(14, 13, 13);
  font-weight: 700;
  line-height: 2.5rem;
  font-size: 3.2rem;
  text-align: center;
}

#selector {
  width: 100%;
  max-width: 75rem;
  overflow-x: hidden;
  position: relative;
}

.nav {
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: justify;
  transition-property: transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.41, 0.21, 0.13, 0.99),
    cubic-bezier(0.41, 0.21, 0.13, 0.99);
  transition-delay: 0s, 0s;
}

.shade {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  width: 33.3333%;
  height: 100%;
  cursor: pointer;
}

.left {
  left: 0;
  background-image: linear-gradient(
    90deg,
    #fff,
    #fff 30%,
    rgba(255, 255, 255, 0)
  );
}

.right {
  right: 0;
  background-image: linear-gradient(
    270deg,
    #fff,
    #fff 30%,
    rgba(255, 255, 255, 0)
  );
}

.year-month {
  flex: 1;
  width: 100%;
  -webkit-box-flex: 1;
  flex-direction: column;
}

.days {
  width: 100%;
  height: 2.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 0.4rem;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}

.dates {
  width: 100%;
  height: 32rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0.4rem;
  grid-row-gap: 0.4rem;
}

.date-box {
  width: 100%;
  height: 100%;
  background-color: rgb(212, 206, 240);
  border-radius: 0.2rem;
}

.date {
  width: 90%;
  font-size: 0.9em;
  font-weight: 600;
  margin: 2%;
}

.prev,
.next {
  opacity: 0.4;
}

.today {
  background-color: rgb(255, 243, 177);
}

.hoilday {
  color: rgb(243, 8, 8);
}
